[workspace]
members = [
    "programs/*",
    "modules/*"
]
resolver = "2"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1

[workspace.dependencies]
anchor-lang = { version = "0.32.1", features = ["init-if-needed"] }
anchor-spl = { version = "0.32.1", features = ["token", "metadata"] }
wormhole-anchor-sdk = { path = "modules/wormhole-anchor-sdk", default-features = false }
wormhole-io = "0.1"
